.navbar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar .navbar-brand.navbar-brand-override {
  float: inherit;
  height: inherit;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
}

.navbar .navbar-item a:link, .navbar .navbar-item a:visited, .navbar .navbar-item a:hover {
  color: #777;
  text-decoration: none;
}

.navbar:before, .navbar:after, .container:before, .container:after {
  content: none;
}

.navbar .navbar-item:hover {
  cursor: pointer;
}

.navbar .navbar-item:hover svg[role="img"] {
  fill: var(--accent);
}

.navbar .navbar-item:hover svg.feather-mail, .navbar .navbar-item:hover svg.feather-music {
  stroke: var(--accent);
}

.container.container-override {
  padding-left: inherit;
  padding-right: inherit;
}

.home {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: $value;
}
